li {
    list-style-type: none;
}

li > input {
    left: 16px;
    position: absolute;
}

.quote {
    color: #789922;
    list-style-type: none;
    margin-left: -40px;
}

.aquote {
    color: #000;
}

body {
    width: 50%;
    margin: 0 auto; 
    background: #EEF2FF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAAl0lEQVQokZXE1xKCMBAAwPv/v1PpvXcSwK5ofGEGBpIL7sPCQSUM8I4aL4p00v9IMSgDxehkqSZez0CzpOn2qmGZ4Ugz3YGB6Z75WZ4g278gOQGv65QbCvKiudsmP8YKkju/MOX1mIoyQXE+99yUFFhp+eKXVcLeDPJaWtGsGpeVrbSKjAwq8kGq6b6a7ru/tsdjm8iA9AM+q+gbghLNkAAAAABJRU5ErkJggg==) top center repeat-x;
    font-family: arial, helvetica, sans-serif
}

a:first-child {
    padding-bottom: 15px;
    position: absolute;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    z-index: 9001;
    padding-top: 15px;
}

#main {
    padding-top: 245px;
    position: absolute;
    width: 50%;
}

.quote:not(.aquote)::before {
    content: '> ';
}
